/* =========================
   Donation Section Layout
   ========================= */
.donation-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 120px 20px;
}

.donation-paragraph {
  display: block;
  text-align: center;
}

/* Frequency Button Styling */
.donation-frequency {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.donation-options {
  display: flex;
  justify-content: center;
}

.donation-frequency-button {
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #bebebe;
  color: black;
  transition: background-color 0.3s;
}

.donation-frequency-button:hover,
.donation-frequency-button:focus {
  background-color: #0762ff;
  color: white;
}

.donation-frequency-button.active {
  background-color: #0762ff;
  color: white;
}

/* Donation Options Grid */
.monthly-options,
.yearly-options,
.one-time-options {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.donation-grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

/* Donation Option Buttons */
.donation-option-button {
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #bebebe;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.donation-option-button:hover {
  background-color: #0762ff;
  color: white;
}

.donation-option-button.active {
  background-color: #0762ff;
  color: white;
}

.donation-option-button.custom-amount {
  grid-column: 1 / -1;
}

/* Custom Amount Input */
.custom-amount-wrapper {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  width: 100%;
  border: 2px solid #0762ff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 25px;
  font-size: 20px;
}

.custom-amount-wrapper:focus-within {
  border-color: #004ad9;
  box-shadow: 0 0 5px #0762ff;
}

.custom-amount-symbol {
  margin-right: 8px;
  font-size: 20px;
  color: #0762ff;
}

.custom-amount-input {
  flex: 1;
  border: none;
  font-size: 20px;
  outline: none;
  box-sizing: border-box;
}

.custom-amount-input::-webkit-outer-spin-button,
.custom-amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Donate Button */
.donate-button {
  display: block;
  margin: 20px auto;
  padding: 15px 40px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background-color: #0762ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate-button:hover {
  background-color: #004ad9;
}
