body {
    background-color: #f7fbff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    background-color: #f7fbff;
    display: flex;
    justify-content: space-between; /* horrizontal */
    align-items: center;  /* vertical */
    padding: 0 5em;
    width: 100vw;
    height: 75px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.2);
    z-index: 1000;
}
.nav a{
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color: #08306b;
    /* gap: 2em; */
}
.nav.nav-top img {
    height: 100px;
    object-fit: cover;
}
.nav a:hover {
  text-decoration: underline #08306b 2px;
  text-underline-offset: 5px;
}
.nav.nav-bottom a{
    padding: 0em 2em;
}
.logo-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-top .logo-btn:hover {
  text-decoration: none;
  cursor: pointer;
}
.logo-btn img {
  width: 120px;
  height: auto;
  overflow: hidden;
  filter: drop-shadow(0 4px 6px #334662); /* shadow around shape */
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    /* padding: 2em 0; */
    height: 1000px;
}

.threearticle-container{

    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1200px;


}
.BoxArticle {
    text-align: center;
    background-color: #e7f1fa;
    border-radius: 10px;
    vertical-align: top;
    max-width: 335px;
    overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.AImage { display:block; }
 .AImage img {
  /* width: 100%; */
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
 }

.ArticleHeading{
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
}

.BoxArticle p{
    font-size: 16px;
    padding: 20px;
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
} 

.BoxArticle:hover {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 20px 50px #f7fbff(0.35,0); 
}
.Abt{
    color: #08306b;
    background-color: #ffffff;
    border: 2px solid #08306b;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 20px;
}









footer {
    background-image: url("../Images/waterfooter.png");
    background-size: cover;
    color: #f7fbff;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 10em 0;
}
footer section {
    padding: 0 7em; /* spacing between footer columns */
}
.footer-flexbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 17em;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-pages a{
    text-decoration: none;
    color: #deebf7;
}

.footer-pages a:hover{
    text-decoration: underline #deebf7 2px;
    text-underline-offset: 5px;
}