body {
    background-color: #f7fbff;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #deebf7;
}

.nav {
    display: flex;
    justify-content: center; /* horrizontal */
    align-items: center;  /* vertical */
    gap: 2em;
}

.nav a{
    text-decoration: none;
    color: #08306b;
}

.nav a:hover{
    text-decoration: underline #08306b 2px;
    text-underline-offset: 5px;
}

.nav.nav-top {
    padding-top: 15px;
}

.nav.nav-bottom {
    padding: 15px 0px;
}

footer {
    background-color: #08306b;
}