body {
    background-color: #f7fbff;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #deebf7;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    height: 1000px;
}

footer {
    background-image: url("../Images/waterfooter.png");
    background-size: cover;
    color: #f7fbff;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 10em 0;
}

footer section {
    padding: 0 7em; /* spacing between footer columns */
}

.nav {
    display: flex;
    justify-content: center; /* horrizontal */
    align-items: center;  /* vertical */
    gap: 2em;
}

.nav a{
    text-decoration: none;
    color: #08306b;
}

.nav a:hover{
    text-decoration: underline #08306b 2px;
    text-underline-offset: 5px;
}

.nav.nav-top {
    padding-top: 15px;
}

.nav.nav-bottom {
    padding: 15px 0px;
}

.footer-flexbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 17em;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-pages a{
    text-decoration: none;
    color: #deebf7;
}

.footer-pages a:hover{
    text-decoration: underline #deebf7 2px;
    text-underline-offset: 5px;
}

/* 769-1297 */

/* 481-768 */

/* 0-480 */

